name: Using Matrix
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for deployment'
        type: choice
        required: true
        options: 
        - test
        - staging
        - prod

jobs:
  deploy_to_default_region:
    environment: '${{ inputs.environment }}'
    runs-on: ubuntu-latest

    steps:
      - name: Echo Location
        shell: bash
        run: |
          echo ${{ inputs.environment }}
          echo count([ubuntu-latest, macos-latest, windows-latest]) #${{ secrets.O_LOCATIONS }}

  # deploy_to_other_region:
  #   if: ${{ github.event.inputs.environment == 'prod' }}
  #   environment: '${{ inputs.environment }}'
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       other_locations: ${{ secrets.O_LOCATIONS }} #[ubuntu-latest, macos-latest, windows-latest]

  #   steps:
  #     - name: Echo Other Locations
  #       shell: bash
  #       run: |
  #         echo ${{ matrix.other_locations }}