name: Using Matrix

env:
  PLATFORMS: "[ubuntu-latest, macos-latest, windows-latest]"


on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for deployment'
        type: choice
        required: true
        options: 
        - test
        - staging
        - prod

jobs:
  format_value:
    runs-on: ubuntu-latest
    steps:
      - name: Format Value
        id: format_value_step
        run: |
          PLATFORMS="${{ env.PLATFORMS }}"
          # PLATFORMS="${PLATFORMS//\[/}"
          # PLATFORMS="${PLATFORMS//\]/}"
          echo "::set-output name=formatted_platforms::$(echo $PLATFORMS)"

      - name: Display
        run: |
          echo ${{ steps.format_value_step.outputs.formatted_platforms }}
    outputs:
      formatted_platforms: ${{ steps.format_value_step.outputs.formatted_platforms }}
  
  matrix_job:
    runs-on: ubuntu-latest
    needs: format_value
    # strategy:
    #   matrix:
    #     platform: ${{ fromJson(needs.format_value.outputs.formatted_platforms) }}
    steps:
      - name: Display Matrix Value
        run: |
          # echo "Running on ${{ matrix.platform }}"
          echo "Running on ${{ needs.format_value.outputs.formatted_platforms }}"