name: Using Matrix

env:
  OTHER_LOCATIONS_TEST: [ubuntu-latest, macos-latest, windows-latest] #"value1,value2,value3"


on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for deployment'
        type: choice
        required: true
        options: 
        - test
        - staging
        - prod

jobs:
  deploy_to_default_region:
    environment: '${{ inputs.environment }}'
    runs-on: ubuntu-latest

    steps:
      - name: Echo Location
        shell: bash
        id: other_locs
        run: |
          echo ${{ inputs.environment }}
          echo "::set-output name=other_locs::${{ env.OTHER_LOCATIONS_TEST }}"

      - name: display
        shell: bash
        run: |
          echo ${{ steps.other_locs.outputs.other_locs }}
        
    outputs:
      o_locs: ${{ steps.other_locs.outputs.other_locs }}


  # deploy_to_other_region:
  #   if: ${{ github.event.inputs.environment == 'prod' }}
  #   environment: '${{ inputs.environment }}'
  #   runs-on: ubuntu-latest
  #   needs: deploy_to_default_region
  #   strategy:
  #     matrix:
  #       other_locations: ${{ toJson(env.OTHER_LOCATIONS_TEST) }} #[ubuntu-latest, macos-latest, windows-latest]

  #   steps:
  #     - name: Echo Other Locations
  #       shell: bash
  #       run: |
  #         echo ${{ matrix.other_locations }}
  #         # echo ${{ needs.deploy_to_default_region.outputs.o_locs }}
  #         # echo ${{ env.OTHER_LOCATIONS_TEST }}