name: Using Matrix

env:
  OTHER_LOCATIONS_TEST: value1,value2,value3


on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for deployment'
        type: choice
        required: true
        options: 
        - test
        - staging
        - prod

jobs:
  deploy_to_default_region:
    environment: '${{ inputs.environment }}'
    runs-on: ubuntu-latest

    steps:
      # - name: Echo Location
      #   shell: bash
      #   id: other_locs
      #   run: |
      #     echo ${{ inputs.environment }}
      #     echo "::set-output name=other_locs::${{ env.OTHER_LOCATIONS_TEST }}"

      - name: Split String into Array
        id: other_locs
        run: |
          echo "::set-output name=other_locs::$(echo ${{ env.OTHER_LOCATIONS_TEST }} | tr ',' '\n')"

      - name: Display Matrix Value
        run: |
          for item in "${{ steps.other_locs.outputs.other_locs }}"; do
            echo "Matrix Value: $item"
          done

      - name: Run Job with Matrix
        strategy:
          matrix:
            my_array: ${{ steps.other_locs.outputs.other_locs }}
        run: |
          echo "Matrix Value in Matrix Job: $my_array"

      # - name: display
      #   shell: bash
      #   run: |
      #     echo ${{ steps.other_locs.outputs.other_locs }}
      #     ARRAY=("${{ split(',', ${env.OTHER_LOCATIONS_TEST}) }}")
      #     echo "Array Length: ${#ARRAY[@]}"
        
    outputs:
      o_locs: ${{ steps.other_locs.outputs.other_locs }}


  deploy_to_other_region:
    if: ${{ github.event.inputs.environment == 'prod' }}
    environment: '${{ inputs.environment }}'
    runs-on: ubuntu-latest
    needs: deploy_to_default_region
    strategy:
      matrix:
          # - OTHER_LOCATIONS_TEST: ${{ split(',', env.OTHER_LOCATIONS_TEST) }}
        other_locations: ${{ toJson(needs.deploy_to_default_region.outputs.o_locs) }} #[ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Echo Other Locations
        shell: bash
        run: |
          # echo "Matrix Value: $OTHER_LOCATIONS_TEST"
          echo ${{ matrix.other_locations }}
          # echo ${{ needs.deploy_to_default_region.outputs.o_locs }}
          # echo ${{ env.OTHER_LOCATIONS_TEST }}